%YAML 1.1
---
af-packet:{{ range $iface, $vals := . }}
  - interface: {{ $iface }}
    threads: {{ $vals.Threads }}
    cluster-id: {{ $vals.ClusterID }}{{ range $extrakey, $extraval := $vals.ExtraOptions }}
    {{ $extrakey }}: {{ $extraval}}{{ end }}
{{ else }}
  - interface: default
    threads: auto
{{ end }}